@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&family=Inter:wght@400;500;600&display=swap');

@import "tailwindcss";

@theme {
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;

  --color-surface: #0b1326;
  --color-surface-dim: #0b1326;
  --color-surface-bright: #31394d;
  --color-surface-container-lowest: #060e20;
  --color-surface-container-low: #131b2e;
  --color-surface-container: #171f33;
  --color-surface-container-high: #222a3d;
  --color-surface-container-highest: #2d3449;
  --color-background: #0b1326;

  --color-primary: #b5c4ff;
  --color-primary-container: #2f63e6;
  --color-primary-fixed: #dbe1ff;
  --color-primary-fixed-dim: #b5c4ff;
  --color-on-primary: #00297a;
  --color-on-primary-container: #eeefff;
  --color-on-primary-fixed: #00174c;
  --color-on-primary-fixed-variant: #003dab;
  --color-inverse-primary: #1653d6;

  --color-secondary: #e9c349;
  --color-secondary-container: #af8d11;
  --color-secondary-fixed: #ffe088;
  --color-secondary-fixed-dim: #e9c349;
  --color-on-secondary: #3c2f00;
  --color-on-secondary-container: #342800;
  --color-on-secondary-fixed: #241a00;
  --color-on-secondary-fixed-variant: #574500;

  --color-tertiary: #66dd8b;
  --color-tertiary-container: #007e3f;
  --color-tertiary-fixed: #83fba5;
  --color-tertiary-fixed-dim: #66dd8b;
  --color-on-tertiary: #003919;
  --color-on-tertiary-container: #c1ffcb;
  --color-on-tertiary-fixed: #00210c;
  --color-on-tertiary-fixed-variant: #005227;

  --color-error: #ffb4ab;
  --color-error-container: #93000a;
  --color-on-error: #690005;
  --color-on-error-container: #ffdad6;

  --color-on-surface: #dae2fd;
  --color-on-surface-variant: #c4c5d9;
  --color-on-background: #dae2fd;
  --color-surface-tint: #b5c4ff;
  --color-surface-variant: #2d3449;
  --color-outline: #8e90a2;
  --color-outline-variant: #434656;
  --color-inverse-surface: #dae2fd;
  --color-inverse-on-surface: #283044;

  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

.piano-key-white {
  height: 120px;
  width: 30px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.piano-key-black {
  height: 75px;
  width: 20px;
  margin-left: -10px;
  margin-right: -10px;
  z-index: 10;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

@media (min-width: 1200px) {
  .piano-key-white {
    height: 160px;
    width: 40px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .piano-key-black {
    height: 100px;
    width: 26px;
    margin-left: -13px;
    margin-right: -13px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
